.card-size {
    width: fit-content;
    height: fit-content;
    background-color:  white;
    border-color: black;
    border-width: medium;
    border-radius: 2px;
}
h1 {
    color: black;
}
h2{
    color: black;
}
h3{
    color: black;

}
button {
    width: 200px;
    height: 70px;
    align-content: center;
    justify-content: center;
    align-self: center;

}
.container-1 {
  display: flex;
  justify-content: center;
  vertical-align:middle;
  align-items: center;
  height: 75px; /* Set the desired height for the container */
  margin: 10px;
}